body {
    color: #FF0000;
    background-color: #FF0000;
}

.stButton>button {
    color: #FF0000;
    border-radius: 10%;
    height: 3em;
    width: 6em;
}

.stTextInput>div>div>input {
    color: #FF0000;
}

/* Add rounded borders to the container */
.menu .container-xxl {
  border-radius: 10px;
}

/* Add rounded borders to the menu items */
.menu .nav-item {
  border-radius: 10px;
}

/* Add some padding to the menu items */
.menu .nav-link {
  padding: 10px;
}

/* Add a background color to the active menu item */
.menu .nav-item .active {
  background-color: #f0f0f0;
}
